{
  "openapi": "3.0.1",
  "info": {
    "title": "Vim API",
    "version": "1.1",
    "description": "Vim platform was built to help payers and providers succeed in a value-based world. \n \n The Vim API is designed to provide you with all that you need to enable provider search and booking from your website or mobile app. \n \nVim's API is organized around the [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) methodology. It uses resource-oriented URLs, and common HTTP response codes to indicate API errors. \n\nAll requests are authenticated using an `x-api-key` header which is provided by Vim, alongside an `authorization` header. Certain requests may require a secret that will be provided by Vim. These endpoints will be marked with a `Backend` mark. Make sure that this secret is not exposed to a third party.",
    "x-logo": {
      "url": "https://js.getvim.com/web/v1.1/images/vim.png"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.getvim.com"
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Provider",
      "description": "The Provider data model enables you to search for providers by various criteria and provides relevant information about providers, including information to support a booking process."
    },
    {
      "name": "Patient",
      "description": "The Patient data model is intended to provide the relevant information about the patient, to support the booking experience"
    },
    {
      "name": "Appointment",
      "description": "The Appointment data model is used to send appointment or appointment requests to the provider's office."
    }
  ],
  "paths": {
    "/provider/{npi}/bookingData": {
      "post": {
        "tags": ["Provider"],
        "description": "For a specific provider, returns extended provider information, appointment types and available time slots for a given date range. Also returns the scheduling configuration of the chosen provider and API key.",
        "operationId": "getBookingData",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key provided by Vim for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "npi",
            "description": "NPI of the chosen provider.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getBookingDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBookingDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Provider/Address not found",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "authorizationHeader": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/provider/{npi}/bookingData",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "400": {
              "statusCode": "400",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "401": {
              "statusCode": "401",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "404": {
              "statusCode": "404",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "502": {
              "statusCode": "502",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.npi": "method.request.path.npi",
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/provider/freeText": {
      "post": {
        "description": "The free-text endpoint returns supported search terms for any free text input. It can be used, for example, to power a typeahead and/or autocomplete component. It also supports typos and colloquial names for providers. For instance, for the search term \"heart\", this endpoint may return the following search terms: \"heart surgeon\", \"heart attack\", \"John Hart, MD\", \"Heart and Vascular Institute\".",
        "tags": ["Provider"],
        "operationId": "freeText",
        "parameters": [
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeTextRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "CORS header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/autocompleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/provider/freeText",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http_proxy"
        }
      }
    },
    "/provider": {
      "post": {
        "description": "The \"find\" endpoint returns a ranked list of providers based on the requested search criteria. The search criteria may include search terms (conditions, procedures, specialties, etc.), filters, location and other patient attributes that may affect the ranking, such as patient insurance.",
        "tags": ["Provider"],
        "operationId": "find",
        "parameters": [
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "CORS header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/findProvidersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/provider",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http_proxy"
        }
      }
    },
    "/provider/{npi}": {
      "get": {
        "description": "Fetch the full provider profile by NPI",
        "operationId": "getByNpi",
        "tags": ["Provider"],
        "parameters": [
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "npi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "memberToken",
            "in": "query",
            "description": "Member token obtained from the identifyPatient endpoint. Providing this parameter can improve provider booking availability.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "CORS header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/providerProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Provider not found",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/provider/{npi}",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "401": {
              "statusCode": "401"
            },
            "404": {
              "statusCode": "404"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            }
          },
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization",
            "integration.request.path.npi": "method.request.path.npi"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      }
    },
    "/auth/getJwt": {
      "get": {
        "tags": ["Authentication"],
        "description": "Authenticates the API key and initializes the API session.",
        "operationId": "getJwt",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key provided by Vim for authentication.",
            "example": "108469b2-3191-4d0c-8c89-b176ed50f7f6",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-secret",
            "in": "header",
            "description": "Secret provided by Vim for authentication.",
            "required": false,
            "example": "7kdsJV854gaq",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "CORS header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/auth/getJwt",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      }
    },
    "/appointment/request": {
      "post": {
        "tags": ["Appointment"],
        "description": "Sends a booking request to the provider's office",
        "operationId": "requestToBook",
        "parameters": [
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          },
          "502": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": [],
            "authorizationHeader": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/appointment/request",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "400": {
              "statusCode": "400",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            }
          },
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/provider/alternatives": {
      "get": {
        "tags": ["Provider"],
        "description": "For a list of providers, returns the booking method, appointment types and next available slot.",
        "operationId": "getProviderAlternatives",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "provider address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "npi",
            "in": "query",
            "description": "provider's NPI",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan",
            "in": "query",
            "description": "member's plan",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "appointment type's medical code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextAvailableSlot",
            "in": "query",
            "description": "original provider's next available appointment",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberLanguage",
            "in": "query",
            "description": "the language of the member (es / en /...)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/providerAlternativesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Provider/Address not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          },
          "502": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": [],
            "authorizationHeader": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/provider/alternatives",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "401": {
              "statusCode": "401",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "404": {
              "statusCode": "404",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "502": {
              "statusCode": "502",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization",
            "integration.request.querystring.npi": "method.request.querystring.npi",
            "integration.request.querystring.address": "method.request.querystring.address",
            "integration.request.querystring.plan": "method.request.querystring.plan",
            "integration.request.querystring.code": "method.request.querystring.code",
            "integration.request.querystring.nextAvailableSlot": "method.request.querystring.nextAvailableSlot"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/provider/availability": {
      "post": {
        "tags": ["Provider"],
        "description": "For a list of providers, returns the booking method and appointment types.",
        "operationId": "getProviderAvailability",
        "parameters": [
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/providerAvailabilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/providersAvailabilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "404": {
            "description": "Provider/Address not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          },
          "502": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": [],
            "authorizationHeader": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/provider/availability",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "400": {
              "statusCode": "400",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "401": {
              "statusCode": "401",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "404": {
              "statusCode": "404",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "502": {
              "statusCode": "502",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/appointment/book": {
      "post": {
        "tags": ["Appointment"],
        "description": "Books an appointment for a patient at the provider's office",
        "operationId": "bookAppointment",
        "parameters": [
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Provider/Address not found",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "409": {
            "description": "Time slot conflict",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "api_key": [],
            "authorizationHeader": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/appointment/book",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "400": {
              "statusCode": "400",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "401": {
              "statusCode": "401",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "405": {
              "statusCode": "405",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "409": {
              "statusCode": "409",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "502": {
              "statusCode": "502",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/appointment/{id}": {
      "get": {
        "tags": ["Appointment"],
        "description": "Returns an appointment by id",
        "operationId": "getAppointment",
        "parameters": [
          {
            "name": "id",
            "description": "The id of the appointment.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a7aef58a-4dfc-48fe-aeeb-a79744f779eb"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key provided by Vim for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          },
          "502": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": [],
            "authorizationHeader": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/appointment/{id}",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "502": {
              "statusCode": "502",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http",
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          }
        }
      }
    },
    "/patient/appointments": {
      "post": {
        "tags": ["Patient"],
        "description": "Returns all of the patient's appointments that were booked through Vim",
        "operationId": "getPatientAppointments",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key provided by Vim for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getPatientAppointmentsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPatientAppointmentsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {}
          },
          "502": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": [],
            "authorizationHeader": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/patient/appointments",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "502": {
              "statusCode": "502",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http",
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          }
        }
      }
    },
    "/appointment/cancel": {
      "post": {
        "tags": ["Appointment"],
        "description": "Cancel an appointment or an appointment request",
        "operationId": "cancelAppointment",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key provided by Vim for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAppointmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/successResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/appointment/cancel",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "400": {
              "statusCode": "400",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "502": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http",
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          }
        }
      }
    },
    "/appointment/reschedule": {
      "post": {
        "tags": ["Appointment"],
        "description": "Reschedule an appointment",
        "operationId": "rescheduleAppointment",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key provided by Vim for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RescheduleAppointmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Server error",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          }
        },
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/appointment/reschedule",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "500": {
              "statusCode": "500",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http",
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          }
        }
      }
    },
    "/auth/refreshJwt": {
      "post": {
        "tags": ["Authentication"],
        "description": "Refreshes the API session.",
        "operationId": "refreshJwt",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key provided by Vim for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "CORS header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/auth/refreshJwt",
          "responses": {
            "200": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            },
            "401": {
              "statusCode": "401",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/patient/identify": {
      "post": {
        "tags": ["Patient"],
        "operationId": "identify",
        "parameters": [
          {
            "name": "x-api-key",
            "description": "API key provided by Vim for authentication.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-insurer",
            "in": "header",
            "description": "insurer of the patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "description": "Bearer authorization token obtained from /auth/getJwt endpoint.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Server error",
            "content": {}
          },
          "502": {
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Server error",
            "content": {}
          }
        },
        "x-amazon-apigateway-request-validator": "Validate body, query string parameters, and headers",
        "x-amazon-apigateway-integration": {
          "uri": "https://${stageVariables.baseUrl}/api/v1/sdk/patient/identify",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            }
          },
          "requestParameters": {
            "integration.request.header.x-api-key": "method.request.header.x-api-key",
            "integration.request.header.x-insurer": "method.request.header.x-insurer",
            "integration.request.header.Authorization": "method.request.header.Authorization"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Gender": {
        "type": "string",
        "enum": ["MALE", "FEMALE","UNSPECIFIED"],
        "example": "MALE",
        "description": "The member's gender"
      },
      "RelationshipToPrimaryMember": {
        "type": "string",
        "enum": ["SELF", "SPOUSE", "DEPENDENT", "LIFE_PARTNER", "CHILD"],
        "example": "DEPENDENT",
        "description": "member relation to the insurance owner"
      },
      "Address": {
        "type": "object",
        "required": [
          "addressLine1",
          "city",
          "state",
          "zip"
        ],
        "properties": {
          "addressLine1": {
            "type": "string",
            "description": "The member's address line 1",
            "example": "123 Pine St"
          },
          "addressLine2": {
            "type": "string",
            "description": "The member's address line 2",
            "example": "123 Pine St"
          },
          "city": {
            "type": "string",
            "description": "The member's city",
            "example": "Seattle"
          },
          "state": {
            "type": "string",
            "description": "The member's state",
            "example": "WA"
          },
          "zip": {
            "type": "string",
            "description": "The member's zip. Must be 5 or 9 digits",
            "example": "11111"
          }
        }
      },
      "successResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "RefreshRequest": {
        "type": "object",
        "required": ["refresh_token"],
        "properties": {
          "refresh_token": {
            "type": "string",
            "description": "Refresh token provided in a call to /auth/getJwt",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
          }
        }
      },
      "AppointmentReview": {
        "type": "object",
        "required": ["appointmentId", "rating"],
        "properties": {
          "appointmentId": {
            "type": "number"
          },
          "rating": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "ActionAnalytics": {
        "type": "object",
        "required": [
          "queryId",
          "memberSessionId",
          "actionType",
          "npi",
          "locationId",
          "ranking",
          "entityId"
        ],
        "properties": {
          "queryId": {
            "type": "string"
          },
          "memberSessionId": {
            "type": "string"
          },
          "actionType": {
            "type": "string"
          },
          "npi": {
            "type": "string"
          },
          "locationId": {
            "type": "number"
          },
          "ranking": {
            "type": "number"
          },
          "entityId": {
            "type": "string"
          }
        }
      },
      "VerifyTokenRequest": {
        "type": "object",
        "properties": {
          "memberToken": {
            "type": "string"
          },
          "requestToken": {
            "type": "string"
          }
        }
      },
      "CancelAppointmentRequest": {
        "type": "object",
        "required": ["appointmentId"],
        "properties": {
          "appointmentId": {
            "type": "string",
            "description": "Appointment id",
            "example": "a7aef58a-4dfc-48fe-aeeb-a79744f779eb"
          },
          "memberLanguage": {
            "type": "string",
            "description": "member locale/language",
            "example": "EN"
          }
        }
      },
      "RescheduleAppointmentRequest": {
        "type": "object",
        "required": ["appointmentId"],
        "properties": {
          "appointmentId": {
            "type": "string",
            "description": "Appointment id",
            "example": "a7aef58a-4dfc-48fe-aeeb-a79744f779eb"
          },
          "newStartDateTime": {
            "type": "string",
            "description": "New start date time",
            "example": "2019-03-04T10:00:00.000Z"
          },
          "memberLanguage": {
            "type": "string",
            "description": "member locale/language",
            "example": "EN"
          }
        }
      },
      "AppointmentRequestResponse": {
        "type": "object",
        "required": ["appointmentRequestId"],
        "properties": {
          "appointmentRequestId": {
            "type": "string",
            "description": "Unique identifier for the submitted request",
            "example": "6b57e0ba-942b-4ef8-a79c-036e22f20066"
          }
        }
      },
      "ConciergeResponse": {
        "type": "object",
        "required": ["appointmentId"],
        "properties": {
          "appointmentId": {
            "type": "number",
            "description": "Vim's internal identifier for the submitted appointment",
            "example": 255
          }
        }
      },
      "Appointment": {
        "type": "object",
        "required": [
          "address",
          "timezone",
          "appointmentTypeId",
          "startTime",
          "endTime",
          "npi",
          "status"
        ],
        "properties": {
          "npi": {
            "type": "string",
            "description": "provider's NPI",
            "example": "1396709168"
          },
          "address": {
            "type": "string",
            "description": "provider's address",
            "example": "4100 Lake Otis Parkway Suite 322 322, Anchorage, AK"
          },
          "timezone": {
            "type": "string",
            "description": "Provider's office timezone",
            "example": "America/New_York"
          },
          "appointmentTypeId": {
            "type": "string",
            "description": "chosen appointment type ID, must be one of the values returned in a provider/getBookingData response.",
            "example": "44234"
          },
          "startTime": {
            "type": "string",
            "description": "the start time of the appointment",
            "example": "2019-03-04T10:00:00.000Z"
          },
          "endTime": {
            "type": "string",
            "description": "the end time of the appointment",
            "example": "2019-03-04T10:15:00.000Z"
          },
          "status": {
            "type": "string",
            "enum": ["ACCEPTED", "PENDING", "CANCELED", "ARCHIVED"]
          },
          "cancellation": {
            "required": ["cancellationType"],
            "type": "object",
            "properties": {
              "cancellationType": {
                "type": "string",
                "enum": ["API", "PHONE"]
              },
              "cancellationPhone": {
                "type": "string",
                "example": null
              }
            }
          }
        }
      },
      "providerAlternativesResponse": {
        "type": "object",
        "required": ["providers"],
        "properties": {
          "providers": {
            "type": "object",
            "description": "list of providers and their availability",
            "properties": {
              "npi": {
                "type": "string",
                "description": "provider's NPI",
                "example": "1396709168"
              },
              "address": {
                "type": "string",
                "description": "provider's address",
                "example": "4100 Lake Otis Parkway Suite 322 322, Anchorage, AK"
              },
              "bookingType": {
                "type": "string",
                "description": "the provider's chosen scheduling method",
                "enum": ["NONE", "CONCIERGE", "REQUEST", "INSTANT", "HYBRID"],
                "example": "INSTANT"
              },
              "timezone": {
                "type": "string",
                "example": "America/Anchorage"
              },
              "taxonomies": {
                "type": "array",
                "description": "the provider's specialties",
                "items": {
                  "type": "object",
                  "properties": {
                    "taxonomyCode": {
                      "type": "string",
                      "description": "specialty code",
                      "example": "207Q00000X"
                    },
                    "taxonomyDisplayName": {
                      "type": "string",
                      "description": "provider specialty friendly name",
                      "example": "Family Physician"
                    },
                    "taxonomyDescription": {
                      "type": "string",
                      "description": "specialty friendly name",
                      "example": "Family Medicine"
                    }
                  }
                }
              },
              "appointmentTypes": {
                "type": "array",
                "description": "list of appointment types that the providers offers at the chosen location",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "appointment type's ID",
                      "example": "251"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "appointment type's friendly display name",
                      "example": "New Patient"
                    },
                    "duration": {
                      "type": "integer",
                      "description": "Appointment duration in minutes",
                      "example": "20"
                    },
                    "code": {
                      "type": "string",
                      "description": "medical code",
                      "example": "72141"
                    },
                    "isTelemedicine": {
                      "type": "boolean",
                      "description": "indicates whether appointment type is telemedicine",
                      "example": true
                    },
                    "nextAvailableSlot": {
                      "type": "string",
                      "description": "provider's next available appointment (only relevant for booking).",
                      "example": "2019-11-03T15:45:00.000Z"
                    },
                    "availableSlots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startTime": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "getBookingDataResponse": {
        "type": "object",
        "properties": {
          "npi": {
            "type": "string",
            "description": "provider's NPI"
          },
          "npiType": {
            "type": "string",
            "description": "Npi type, either an individual or an organization. If not entered, the default is an individual",
            "enum": ["INDIVIDUAL", "ORGANIZATION"]
          },
          "address": {
            "type": "string",
            "description": "provider's address"
          },
          "openHours": {
            "type": "object",
            "description": "The provider's working hours grouped by days (Exmaple: { Mon: { open: '08:00', close: '17:00' } } )",
            "properties": {
              "[day name]": {
                "type": "object",
                "description": "Day's working hours details",
                "properties": {
                  "open": {
                    "type": "string",
                    "description": "24h representation of the opening time (provider's timezone)",
                    "example": "08:00"
                  },
                  "close": {
                    "type": "string",
                    "description": "24h representation of the closing time (provider's timezone)",
                    "example": "17:00"
                  }
                }
              }
            }
          },
          "bookingType": {
            "type": "string",
            "description": "the provider's chosen scheduling method",
            "enum": ["NONE", "CONCIERGE", "REQUEST", "INSTANT", "HYBRID"]
          },
          "timezone": {
            "type": "string"
          },
          "appointmentTypes": {
            "type": "array",
            "description": "list of appointment types that the providers offers at the chosen location",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "appointment type's ID",
                  "example": "251"
                },
                "displayName": {
                  "type": "string",
                  "description": "appointment type's friendly display name",
                  "example": "New Patient"
                },
                "duration": {
                  "type": "integer",
                  "description": "Appointment duration in minutes",
                  "example": "20"
                },
                "code": {
                  "type": "string",
                  "description": "medical code",
                  "example": "72141"
                },
                "isTelemedicine": {
                  "type": "boolean",
                  "description": "indicates whether appointment type is telemedicine",
                  "example": true
                },
                "nextAvailableSlot": {
                  "type": "string",
                  "description": "provider's next available appointment (only relevant for booking).",
                  "example": "2019-11-03T15:45:00.000Z"
                },
                "availableSlots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "questionnaire": {
            "type": "array",
            "description": "questions that the patient is required to answer before booking the appointment. The answer to some of the question may prevent the member from booking. The answers to these questions should be included in the BookRequest.",
            "items": {
              "type": "object",
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OpenQuestion"
                },
                {
                  "$ref": "#/components/schemas/MultipleChoice"
                }
              ]
            }
          }
        }
      },
      "OpenQuestion": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "description": "question's ID",
            "example": "15"
          },
          "questionType": {
            "type": "string",
            "description": "the type of question, either an open question or a multiple choice",
            "enum": ["OPEN_QUESTION"],
            "example": "OPEN_QUESTION"
          },
          "question": {
            "type": "string",
            "description": "the actual question for the patient to answer",
            "example": "How old are you?"
          },
          "goto": {
            "type": "string",
            "description": "the ID of the next question to ask",
            "example": "12"
          }
        }
      },
      "MultipleChoice": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "description": "question's ID",
            "example": "18"
          },
          "questionType": {
            "type": "string",
            "description": "the type of question, either an open question or a multiple choice question.",
            "enum": ["MULTIPLE_CHOICE"],
            "example": "MULTIPLE_CHOICE"
          },
          "question": {
            "type": "string",
            "description": "the actual question for the patient to answer",
            "example": "Do you have a family history of colorectal cancer?"
          },
          "answers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the id of the answer",
                  "example": "1"
                },
                "displayName": {
                  "type": "string",
                  "description": "answer's friendly display name",
                  "example": "Yes, I do"
                }
              }
            }
          }
        }
      },
      "providerAvailabilityRequest": {
        "type": "object",
        "required": ["providers"],
        "properties": {
          "memberToken": {
            "type": "string",
            "description": "Member token obtained from the identifyPatient endpoint. Provider's availability can, in some scenarios, change based on the patient's attributes.",
            "example": "bdb77d01-20e1-449b-93c5-53bda9103791"
          },
          "providers": {
            "type": "array",
            "description": "the providers for whom you would like to get availability, limited for 20 providers",
            "items": {
              "type": "object",
              "required": ["npi"],
              "properties": {
                "npi": {
                  "type": "string",
                  "description": "provider's NPI",
                  "example": "1396709168"
                },
                "address": {
                  "type": "string",
                  "description": "provider's address",
                  "example": "4100 LAKE OTIS PKWY STE. 322, ANCHORAGE, AK"
                }
              }
            }
          },
          "npiType": {
            "type": "string",
            "description": "npi type",
            "enum": ["INDIVIDUAL", "ORGANIZATION"],
            "example": "INDIVIDUAL"
          },
          "code": {
            "description": "CPT code",
            "type": "string",
            "example": "74134"
          }
        }
      },
      "getBookingDataRequest": {
        "type": "object",
        "required": ["address"],
        "properties": {
          "address": {
            "type": "string",
            "description": "Address of the chosen provider."
          },
          "startDateTime": {
            "type": "string",
            "description": "Beginning date to start searching for time slots. If not provided, defaults to the date of the request",
            "example": "2019-03-04T10:00:00.000Z"
          },
          "endDateTime": {
            "type": "string",
            "description": "End date to stop searching for time slots. If not provided, defaults to one week after the start parameter. Limited to 28 days after start parameter.",
            "example": "2019-03-04T10:00:00.000Z"
          },
          "npiType": {
            "type": "string",
            "description": "Npi type, either an individual or an organization. If not entered, the default is an individual",
            "enum": ["INDIVIDUAL", "ORGANIZATION"]
          },
          "code": {
            "type": "string",
            "description": "CPT code",
            "example": "74134"
          },
          "memberToken": {
            "type": "string",
            "description": "member token obtained from /patient/identify endpoint.",
            "example": "bdb77d01-20e1-449b-93c5-53bda9103791"
          }
        }
      },
      "FreeTextRequest": {
        "type": "object",
        "required": ["freeText"],
        "properties": {
          "freeText": {
            "type": "string",
            "description": "Free text to match against Vim's search terms"
          },
          "filters": {
            "$ref": "#/components/schemas/searchFilters"
          },
          "geo": {
            "$ref": "#/components/schemas/geo"
          },
          "memberToken": {
            "description": "Member token obtained from the identifyPatient endpoint. Certain member attributes can affect the provider's ranking in the search results, for example a provider that accepts the member's insurer would rank higher than providers that do not.",
            "example": "bdb77d01-20e1-449b-93c5-53bda9103791",
            "type": "string"
          }
        }
      },
      "TaxonomiesResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Taxonomies total count",
            "example": 1000
          },
          "data": {
            "type": "array",
            "description": "Taxonomies list",
            "items": {
              "type": "object",
              "properties": {
                "codes": {
                  "type": "array",
                  "description": "Taxonomy codes",
                  "example": ["102L00000X"],
                  "items": {
                    "type": "string"
                  }
                },
                "name": {
                  "type": "string",
                  "description": "Taxonomy description",
                  "example": "Psychoanalyst"
                },
                "isGeneral": {
                  "type": "boolean",
                  "example": "true",
                  "description": "Is general taxonomy"
                }
              }
            }
          }
        }
      },
      "AsoMetadataRequest": {
        "type": "object",
        "required": ["memberToken"],
        "properties": {
          "memberToken": {
            "type": "string",
            "description": "The member token"
          }
        }
      },
      "AsoMetadataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "required": ["defaultTier", "tiers"],
            "properties": {
              "defaultTier": {
                "type": "string"
              },
              "tiers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["name", "description", "title", "showInNetwork"],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "showInNetwork": {
                      "type": "boolean"
                    },
                    "overrideColor": {
                      "type": "string",
                      "enum": ["red", "gray", "darkGray", "orange"]
                    },
                    "shouldShowStatus": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShareProviderRequest": {
        "type": "object",
        "required": ["npi", "locationId", "memberToken", "phoneNumber"],
        "properties": {
          "npi": {
            "type": "string",
            "description": "NPI of the chosen provider."
          },
          "locationId": {
            "type": "number",
            "description": "The provider location id."
          },
          "memberToken": {
            "type": "string",
            "description": "The member token"
          },
          "insurer": {
            "type": "string",
            "description": "insurer of the patient."
          },
          "phoneNumber": {
            "type": "object",
            "required": ["number", "countryDialingCode"],
            "properties": {
              "countryDialingCode": {
                "type": "string"
              },
              "number": {
                "type": "string"
              }
            }
          }
        }
      },
      "ShareProviderResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "correlationId": {
                "type": "string",
                "description": "Correlation uuid",
                "example": "0502b2e9-8352-4378-adae-42ffbd5d045b"
              }
            }
          }
        }
      },
      "FindProviderRequest": {
        "properties": {
          "searchTerm": {
            "type": "object",
            "properties": {
              "term": {
                "type": "string"
              },
              "category": {
                "$ref": "#/components/schemas/category"
              }
            }
          },
          "filters": {
            "$ref": "#/components/schemas/searchFilters"
          },
          "memberToken": {
            "description": "Member token obtained from the identifyPatient endpoint. Certain member attributes can affect the provider's ranking in the search results, for example a provider that accepts the member's insurer would rank higher than providers that do not.",
            "example": "bdb77d01-20e1-449b-93c5-53bda9103791",
            "type": "string"
          },
          "geo": {
            "$ref": "#/components/schemas/geo"
          },
          "insurer": {
            "description": "Member's insurer",
            "type": "string"
          },
          "plan": {
            "description": "Member's health plan",
            "type": "string"
          },
          "bcbsMemberPrefix": {
            "description": "blue cross blue shield prefix",
            "type": "string"
          },
          "patientGender": {
            "description": "Used to improve results order using providers' clinical match",
            "type": "string",
            "enum": ["MALE", "FEMALE", "UNSPECIFIED"]
          },
          "patientAge": {
            "description": "Used to improve results order using providers' clinical match",
            "type": "number"
          },
          "icd": {
            "description": "ICD10 code. Used to improve results' clinical match",
            "example": "M722",
            "oneOf": [{ "type": "string" }, { "type": "array" }]
          },
          "cpt": {
            "description": "CPT code. Used to improve results' clinical match",
            "type": "string",
            "example": "1480"
          },
          "etg": {
            "description": "Clinical epiosde name. Used to improve results' clinical match",
            "type": "string",
            "example": "Diabetes"
          },
          "skip": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "clinicSearchPreferences": {
            "type": "boolean"
          },
          "healthSystemId": {
            "type": "integer"
          },
          "clinicId": {
            "type": "integer"
          }
        }
      },
      "searchFilters": {
        "title": "Search API filters",
        "description": "Filters to be used in the search. Only Results that match the filters would be returned.",
        "type": "object",
        "properties": {
          "gender": {
            "type": "string",
            "enum": ["MALE", "FEMALE"]
          },
          "distance": {
            "type": "integer",
            "description": "Distance in miles",
            "minimum": 1,
            "maximum": 100
          },
          "onlyBookableProviders": {
            "type": "boolean"
          },
          "onlyInNetwork": {
            "type": "boolean",
            "description": "returns only in-network providers. When used must pass plan parameter or verified memberToken"
          },
          "taxonomy": {
            "oneOf": [{ "type": "string" }, { "type": "array" }]
          },
          "state": {
            "type": "string"
          },
          "npiList": {
            "type": "array",
            "description": "Providers npi list",
            "items": {
              "type": "string"
            }
          },
          "spokenLanguage": {
            "type": "string",
            "description": "Language code in ISO 639-1 format. For full list look at https://www.constitution.org/lg/languagecode.html",
            "enum": [
              "aa",
              "ab",
              "af",
              "ak",
              "am",
              "ar",
              "an",
              "hy",
              "is",
              "my",
              "bo",
              "cy",
              "cs",
              "de",
              "nl",
              "el",
              "eu",
              "fr",
              "ka",
              "mk",
              "mi",
              "ms",
              "fa",
              "ro",
              "sk",
              "sq",
              "zh",
              "as",
              "av",
              "ay",
              "az",
              "ba",
              "bm",
              "be",
              "bn",
              "bi",
              "bs",
              "br",
              "bg",
              "ca",
              "ch",
              "ce",
              "cv",
              "kw",
              "co",
              "cr",
              "da",
              "dv",
              "dz",
              "en",
              "et",
              "ee",
              "fo",
              "fj",
              "fi",
              "fy",
              "ff",
              "gd",
              "ga",
              "gl",
              "gv",
              "gn",
              "gu",
              "ht",
              "ha",
              "he",
              "hz",
              "hi",
              "ho",
              "hr",
              "hu",
              "ig",
              "ii",
              "iu",
              "id",
              "ik",
              "it",
              "jv",
              "ja",
              "kl",
              "kn",
              "ks",
              "kr",
              "kk",
              "km",
              "ki",
              "rw",
              "ky",
              "kv",
              "kg",
              "ko",
              "kj",
              "ku",
              "lo",
              "lv",
              "li",
              "ln",
              "lt",
              "lb",
              "lu",
              "lg",
              "mh",
              "ml",
              "mr",
              "mg",
              "mt",
              "mn",
              "na",
              "nv",
              "nr",
              "nd",
              "ng",
              "ne",
              "nn",
              "nb",
              "no",
              "ny",
              "oc",
              "oj",
              "or",
              "om",
              "os",
              "pa",
              "pl",
              "pt",
              "ps",
              "qu",
              "rm",
              "rn",
              "ru",
              "sg",
              "si",
              "sl",
              "se",
              "sm",
              "sn",
              "sd",
              "so",
              "st",
              "es",
              "sc",
              "sr",
              "ss",
              "su",
              "sw",
              "sv",
              "ty",
              "ta",
              "tt",
              "te",
              "tg",
              "tl",
              "th",
              "ti",
              "to",
              "tn",
              "ts",
              "tk",
              "tr",
              "tw",
              "ug",
              "uk",
              "ur",
              "uz",
              "ve",
              "vi",
              "wa",
              "wo",
              "xh",
              "yi",
              "yo",
              "za",
              "zu"
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "responseMessage": {
            "type": "string"
          }
        },
        "title": "Error Schema"
      },
      "AuthenticationResponse": {
        "type": "object",
        "required": ["access_token", "refresh_token", "expiry"],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
          },
          "refresh_token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
          },
          "expiry": {
            "type": "string",
            "example": "2019-11-08T15:59:41.496Z",
            "description": "access token expiration time"
          }
        }
      },
      "GetAppointmentRequestResponse": {
        "type": "object",
        "required": ["address", "timezone", "appointmentTypeId", "npi", "status"],
        "properties": {
          "npi": {
[...]
